<p>
  <%= f.label :name, "Vipechka" %><br />
  <%= f.text_field :name%>
  <%= f.label :value,"Count " %>
  <%= f.text_field :value%><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %>
</p>