<p>
  <%= f.label :name, "Napitok" %><br />
  <%= f.text_field :name  %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %>
</p>
<hr />
<p>
  <%= f.fields_for :items do |builder| %>
    <%= render "item_fields", :f => builder %>
  <% end %> 
</p>

