<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @order.userName %>
</p>


<p>  Napitok: <%= @order.drink.name %> </p>

<% for baking in @order.bakings %>

<p>  Vipechka: <%=baking.name %> Count: <%=baking.value %> </p>

<% end %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
