<p id="notice"><%= notice %></p>

<p>
  <b>Order name:</b>
  <%= @order.userName %>
</p>

<ul>  Napitok: <%= @order.drink.name %> 
<% for item in @order.drink.items%>
	<li><%= item.name%></li>
<% end %> 
</ul>

<ol> Vipechka:
<% for baking in @order.bakings %>
	<li> Name: <%=baking.name %> Count: <%=baking.value %> </li>
<% end %>
</ol>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
